*{
    box-sizing: border-box;
    margin : 0
}
#left-2 , #right-2{
    display : none
}
body{
    font-family : roboto;
    font-weight: 400;
    background-color: rgb(238,233,233);
}
.bg-red{
    background-color : #D92121;
    color:white
}
nav{
    width : 100%;
    height : 3.5rem;
    background-color: #D92121;
}
nav a {
    text-decoration: none;
    float : right;
    color : white;
    padding : 0 0.5rem;
    margin : 0 0.5rem;
    line-height : 3.5rem
}

nav a:hover {
    color: #D92121;
    background-color: white;
    border-radius: 5%;
}
main{
    width : 60rem;
    background-color: white;
    margin : 5rem auto 0 auto;
    height: 32rem;
    box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.7)
}
main section {
    float : left;
    width : 50%;
    height : inherit;
    text-align : center
}
main section > div{
    height: 100%;
}
main section input[type="email"],main section input[type="password"]{
    box-sizing: border-box;
    width : 80%;
    height : 1.2rem;
    background-color: rgb(223,216,216);
    border : 1px solid transparent;
    padding-left:0.5rem
}
main section a{
    display : block;
    width : 100%;
    text-decoration : none;
    color : rgb(14,13,13);
    margin : 2rem 0 1rem 0;
}
main section input[type="submit"]{
    color : white;
    background-color : #D92121;
    border : 1px solid #D92121;
    padding : 0.7rem 2.5rem;
    font-weight:bold;
    border-radius: 1rem;
    letter-spacing: 0.1rem;
}
main section input[type="submit"]:hover{
    color : #D92121;
    background-color:white;
}
main section .controler{
    box-sizing: border-box;
    width : 80%;
    padding:0.5rem 2.5rem;
}
.text-white{
    color : white
}
.bold{
    font-weight: bold;
}
.btn-big{
    font-size : 1.05rem
}
.btn{
    width : 3rem;
    height : 3rem;
}
.btn-circle{
    border-radius: 50%;
}
.btn-facebook{
    background-color: #1577F2;
    border : 1px solid #1577F2;
}
.btn-facebook:hover{
    color : #1577F2;
    background-color: white;
}
.btn-google{
    background-color: #DB4a39;
    border : 1px solid #DB4a39;
}
.btn-google:hover{
    color : #DB4a39;
    background-color: white;
}
.btn-linkdin{
    background-color: #0a66c2;
    border : 1px solid #0a66c2;
}
.btn-linkdin:hover{
    color : #0a66c2;
    background-color: white;
}
h1{
    font-size : 2.3rem
}
#left-1 h1{
    margin-top :4rem
}
#left-1 p{
    margin:1rem 0
}
#left-1 input[type="password"]{
    margin-top : 0.5rem
}
#right-2 input[type="password"]{
    margin-top:0.5rem;
}
#right-2 input[type="email"]{
    margin-bottom : 1rem;
}
#social-btn{
    margin-top:2rem
}
#right-1 h1{
    margin-top:36%
}
#right-1 p{
    margin:1rem 0 ;
}
#left-2 h1{
    margin-top:36%
}
#left-2 p{
    margin:1rem 0 ;
}
#right-2 input[type="submit"]{
    margin-top:2rem;
}
#right-2 input[type="email"]{
    margin-top:1rem ;
}
.white-to-red{
    color:white;
    animation :mywtr 0.7s;
    animation-fill-mode: forwards;
}
.red-to-white{
    color:black;
    animation : myrtw 0.7s;
    animation-fill-mode: forwards;
}
@keyframes mywtr {
    from{background-color: white;}
    to{background-color: #D92121;}
}

@keyframes myrtw {
    from{background-color: #D92121;}
    to{background-color: white;}
}