<<<<<<< HEAD

.container{
    display: flex;
    align-items: center;
    
    gap: 50px ;
    margin-bottom: 50px;
}
.imgcontainer{
    
}
.textsection{

}

=======

.container{
    display: flex;
    align-items: center;
    
    gap: 50px ;
    margin-bottom: 50px;
}
.imgcontainer{
    
}
.textsection{

}

>>>>>>> 91eb025d213b349f0940b74f78dae0b98895365a
