<<<<<<< HEAD
.container{
    height: 50px;
    align-items : center;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.social{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon{
    cursor: pointer;
    opacity: 0.6;
=======
.container{
    height: 50px;
    align-items : center;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.social{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon{
    cursor: pointer;
    opacity: 0.6;
>>>>>>> 91eb025d213b349f0940b74f78dae0b98895365a
}