.offers {
    display: flex;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 20px;
    width: 68%;
    margin: auto;
    height: 60vh;
    padding: 0px 140px;
    margin-bottom: 150px;
}

.offers-left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.offers-left h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    background: #ff4141;
    border-radius: 35px;
    border: none;
    width: 273px;
    height: 40px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

.offers-right img {
    mix-blend-mode: multiply;
    width: 500px;
    height: 100%
}